# Dependencies
node_modules/
package-lock.json

tests.ps1
tests1.ps1

docker-compose.yml

# Environment variables
.env
.env.local
.env.production

# Render configuration
render.yaml

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Production
dist/
build/